{% load forum_tags %}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <a target="_blank" href="#">{{ item.author }}</a>
                <a href="#" class="float-right">{{ item.created }}</a>
                {% if perms.posting.change_post or item.author == user %}
                    <a class="float-right" href="{% url 'posting:update_post' board_pk=board_pk thread_pk=thread.id pk=item.pk%}">
                        edit
                    </a>
                {% endif %}
                <br/>
                {% if perms.posting.delete_post or item.author == user %}
                    <a class="float-right" href="{% url 'posting:delete_post' board_pk=board_pk thread_pk=thread.id pk=item.pk%}">
                        delete
                    </a>
                {% endif %}
            </div>
        </div>
        {% if item.file %}
            <div class="row">
                <div class="col">
                    <img src="{{ item.file.url }}" class="align-self-start mr-3 img-fluid img-thumbnail">
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <p>{{ item.content }}</p>
                <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}?refers_to={{ item.id }}&parent={% item_or_parent_id item %}">
                    <button class="btn btn-outline-dark" type="submit">Respond</button>
                </a>
            </div>
        </div>
    </div>
</div>
