{% extends 'base.html' %}

{% block title %}Wpisy{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>{{ object.author}}</h3>
            <h4>{{ starting_post.content }}</h4>
                <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}?responding_to_the_thread=True" >
                    <button class="btn btn-outline-dark" type="submit">Respond</button>
                </a>
            <ul class="timeline">
                {% for parent, children in posts.items %}
                    <li>
                        <a target="_blank" href="#">{{ parent.author }}</a>
                        <a href="#" class="float-right">{{ parent.created }}</a>
                        <a href="#" class="float-right">{{ parent.id }}</a>
                        <p>{{ parent.content }}</p>
                        <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}?refers_to={{ parent.id }}&parent={{ parent.id }}">
                            <button class="btn btn-outline-dark" type="submit">Respond</button>
                        </a>
                        {% if children %}
                            {% for child in children %}
                                <ul class="timeline">
                                    <a target="_blank" href="#">{{ child.author }}</a>
                                    <a href="#" class="float-right">{{ child.created }}</a>
                                    <a href="#" class="float-right">{{ child.id }}</a>
                                    <p>{{ child.content }}</p>
                                    <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}?refers_to={{ children.id }}&parent={{ parent.id }}">
                                        <button class="btn btn-outline-dark" type="submit">Respond</button>
                                    </a>
                                </ul>>
                            {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}" >
                <button class="btn btn-outline-dark" type="submit">Respond</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
