{% extends 'base.html' %}

{% block title %}Wpisy{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-8">
            <div class="row">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center"> 
                            <a href="{% url 'users:user_profile' pk=object.author.userprofile.pk %}">
                                <img src="{{ object.author.userprofile.avatar_url }}" class="d-block rounded-circle thread-avatar" alt="">
                            </a>
                            <div class="media-body ml-3">
                                {{ object.author.first_name }}
                                <div class="text-muted small">{{ starting_post.time_passed_since_creation }} ago</div>
                            </div>
                            <div class="text-muted small ml-3">
                                {% if starting_post.updated %}
                                    <div>Edited {{ starting_post.time_passed_since_edition }} ago</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if starting_post.file %}
                            <div class="row">
                                <img src="{{ starting_post.file.url }}" class="align-self-start mr-3 img-fluid img-thumbnail">
                            </div>
                        {% endif %}
                        <div class="row">
                            <p>{{ starting_post.content|linebreaks }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'posting:create_post' board_pk=board_pk thread_pk=thread.id %}" >
                                        <button class="btn btn-outline-dark" type="submit">Respond</button>
                                    </a>
                                    {% if perms.posting.change_thread or object.author == user %}
                                        <a class="float-right" href="{% url 'posting:update_thread' board_pk=board_pk pk=thread.id %}">
                                            <button class="btn btn-outline-dark" type="submit"> edit </button>
                                        </a>
                                    {% endif %}
                                    {% if perms.posting.delete_thread or object.author == user %}
                                        <a class="float-right delete mr-2" href="{% url 'posting:delete_thread' board_pk=board_pk pk=thread.id %}">
                                            <button class="btn btn-outline-dark" type="submit">
                                                delete
                                            </button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="timeline">
                        {% for parent, children in posts.items %}
                            <li class="list-unstyled">
                                {% include "posting/_item.html" with item=parent %}
                                {% if children %}
                                    {% for child in children %}
                                        <ul class="timeline">
                                            {% include "posting/_item.html" with item=child %}
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
