{% load forum_tags %}

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Boards
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% boards_list as boards%}
                {% for board in boards %}
                    <a class="dropdown-item" href="{% url 'posting:board_threads_list' board_pk=board.pk %}">{{ board.name }}<span class="sr-only">(current)</span></a>
                {% endfor %}
            </div>
        </ul>
        <div class="my-2 my-lg-0">
            <a href="{% url 'users:logout' %}" >
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log out</button>
            </a>
        </form>
    </div>
</nav>
{% endif %}
