{% extends 'base.html' %}

{% block title %}Bans{% endblock %}

{% block content %}
<div class="row my-2">
    <ul class="list-group">
    <h1>Bans</h1>
    {% for object in object_list %}
        <li class="list-group-item">
            {{ object.user.username }} {{ object.time_left }}
            <a href="{% url 'users:update_ban' pk=object.pk %}" >
                <button class="btn btn-outline-dark" type="submit">Edit ban</button>
            </a>
            <a href="{% url 'users:delete_ban' pk=object.pk %}" >
                <button class="btn btn-outline-dark" type="submit">Delete ban</button>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
