{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Create post{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Edit profile</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.avatar.label_tag }}<br>
                {{ form.avatar|attr:"class:form-control"}}
                {% for error in form.avatar.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="edit" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
