{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="col-lg-12">
    <div class="card text-center profile-details">
        <div class="row">
            <div class="col">
                <img class="card-img-top" src="{{ object.avatar_url }}" alt="Card image cap">
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.user.first_name}}</h5>
            Joined on: <h4>{{ object.user.date_joined }}</h4>
        </div>
        <div class="card-footer">
            {% if user == object.user %}
                <a href="{% url 'users:edit_profile' pk=object.pk %}">
                    <button class="btn btn-outline-dark" type="submit">Edit profile</button>
                </a>
            {% endif %}
            {% if perms.posting.add_ban %}
                <a href="{% url 'users:create_ban' %}?user_pk={{ user.pk }}" >
                    <button class="btn btn-danger" type="submit">Ban user</button>
                </a>
            {% endif %}
        </div>
    </div>
</h3>
{% endblock %}
