.thread {
    background-color: #F5F5F5;
    margin-bottom: 15px;
    padding: 5px;

    .mediabox {
        max-height: 75%;

        img {
            display: block;
            max-height: 190px;
            width: 90%;
        }
    }

    .text {
        min-height: 80px;
    }

    .favorite-container {
        margin-right: 5px;
    }

    .post_count {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .author {
        display: inline-block;
    }

    @media screen and (max-device-width: 768px) {
        .read-more {
            height: 100px;
            width: 200px;
            font-size: 24px;
            padding-top: 30px
        }

        .favorite-container {
            height: 100px;
            width: 100px;

            a {
                font-size: 36px;
            }
        }

    }
}
